@model IEnumerable<Northwind.DAL.Models.Categories>
@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Categories</h2>
<table class="table-bordered">
    @{
    <tr>
        <th>Category Id</th>
        <th>Category Name</th>
        <th>Description</th>
    </tr>
        foreach (var cat in Model)
        {
            <tr>
                <td>@cat.CategoryId</td>
                <td>@cat.CategoryName</td>
                <td>@cat.Description</td>                
            </tr>
        }
    }
</table>
